body {
  background: url(https://cdn.pixabay.com/photo/2022/08/04/23/26/sunset-7365700__480.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather-box {
  background-color: azure;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 50px;
  margin: 15px;
}

.weather-button {
  margin: 0 3px;
}
